<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style data-premailer="ignore">
        html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }
        p {
            margin: 0;
            padding: 0;
        }
	</style>
    <body style="background-color: #F4F6F8; font-family: Arial, Helvetica, 'Nimbus Sans L', 'Liberation Sans', FreeSans, Sans-serif; line-height: 1.58; color: #212B36;">
        <p style="font-weight: bold; font-size: 20px; background: linear-gradient(to top, rgba(34,208,184,0.7), rgba(38,198,68,0.7)); text-align: center; padding-bottom: 50px; padding-top: 20px">Leave Scheduler</p>
        <div style="background-color: #FFF; max-width: 700px; margin-top: -30px; padding: 30px; margin-left: auto; margin-right: auto" >
            <p style="text-align: center">Hello <span style="font-weight: bold  ">{{email}}</span>,</p>
            <p style="text-align: center">You have a notification:</p>
            <br/>
            <p style="text-align: center">{{name}} {{message}}</p>
        </div>
    </body>
</html>

